// Colors
$color-of-header:  #333f4d;
$color-of-page-bg: #f1f2f3;
$color-of-h1-tags: #da5a47;
$color-of-buttons: #da5a47;

$blue: #31a2ed;
$blue-rollover: #4fb1f1;
$dark-blue: #354f7d;
$navy: #1c324b;
$orange: #db690b;
$yellow: #ffd253;
$gray: #303334;
$off-white: #f6f6f6;
$eggshell: #f8f9fa;
$top-divider-lines: #5f6162;
$footer-gray: #2f3334;

$logo-orange:rgb(203, 71, 0);
$logo-blue:rgb(1, 35, 64);
$logo-dk-gray:rgb(0, 0, 0);
$logo-lt-gray:rgb(85, 85, 85);
